*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
ul{
    background-color: rgb(40, 40, 40);
    width: 160px;
    height: 1110px;
    position: absolute;
    z-index: 20;
}
li{
    text-align: center;
    list-style-type: none;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 29px;
    color:white;
    padding-top: 150px;
    z-index: 10;
}
.block01{
    width: 100%;
    height: 1110px;
    background-image: url(img/bg01.png);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.cont00{
    position: absolute;
    width: 780px;
    height: 251px;
    left: 506px;
    top: 256px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 93px;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: 116px;
    color: white;
}
.block02{
    width: 100%;
    height: 874px;
    background-color: white;
}
.wrap02{
    width: 1000px;
    height: 874px;
    background-color: white;
    margin: 0 auto;
    position: relative;
}
.cont01{width: 847px;height: 87px;position: absolute;left: 77px;
    font-family: "Noto Sans KR", sans-serif;
font-size: 58px; top: 114px;
}
.cont02{width: 580px;
        height: 168px;
position: absolute; left: 77px; top: 1088px;
font-family: "Noto Sans KR", sans-serif;
font-size: 60px;
}
.cont03{width: 671px; height: 110px;
    font-family: "Noto Sans KR", sans-serif;
font-size: 70px; top: 2800px;
position: absolute; left: 160px;
color: #FFC603;

}
.cont04{width: 1920px; height: 2292px;
    top: 2962px; background-color: #2C3356;
    background-position: 0px;
    position: absolute; right: -450px
}
.cont05{}

